# =========================
# JAVA / MAVEN
# =========================
target/
*.class
*.log

# =========================
# IDEs
# =========================
# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# DATABASE CONFIG 
# =========================
src/main/resources/db.properties

